Repository dzbrozek/geolocation-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations-check, mypy-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pycqa/isort
  rev: 5.8.0
  hooks:
    - id: isort
      name: isort (python)
    - id: isort
      name: isort (cython)
      types: [ cython ]
    - id: isort
      name: isort (pyi)
      types: [ pyi ]
- repo: https://github.com/ambv/black
  rev: 21.9b0
  hooks:
    - id: black
      language_version: python3.8
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
    - id: flake8
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.0
  hooks:
    - id: bandit
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v5.0.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/config-conventional']
- repo: local
  hooks:
    - id: hadolint
      name: Hadolint
      description: Lint Docker image
      language: docker_image
      types:
        - dockerfile
      entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -
- repo: local
  hooks:
    - id: migrations-check
      language: system
      name: Check for uncreated migrations
      entry: make managepy arguments="makemigrations --check --dry-run"
      files: "models\\.py$"
      stages: [commit]
      require_serial: true
- repo: local
  hooks:
    - id: mypy-check
      language: system
      name: Check for mypy
      entry: make mypy
      stages: [commit]
      files: ".+\\.py$"
      require_serial: true

fix: fixed triggering actions
  .github/workflows/lint.yml
Due: none

feat: added geolocating requests
  .isort.cfg
  Makefile
  geolocationapi/geolocation/__init__.py
  geolocationapi/geolocation/admin.py
  geolocationapi/geolocation/apps.py
  geolocationapi/geolocation/clients/__init__.py
  geolocationapi/geolocation/clients/ipstack.py
  geolocationapi/geolocation/clients/mocks/__init__.py
  geolocationapi/geolocation/clients/mocks/ipstack.py
  geolocationapi/geolocation/factories.py
  geolocationapi/geolocation/migrations/0001_initial.py
  geolocationapi/geolocation/migrations/0002_alter_geolocation_request.py
  geolocationapi/geolocation/migrations/0003_auto_20211011_1159.py
  geolocationapi/geolocation/migrations/__init__.py
  geolocationapi/geolocation/models.py
  geolocationapi/geolocation/serializers.py
  geolocationapi/geolocation/tests/__init__.py
  geolocationapi/geolocation/tests/test_serializers.py
  geolocationapi/geolocation/tests/test_views.py
  geolocationapi/geolocation/urls.py
  geolocationapi/geolocation/views.py
  geolocationapi/geolocationapi/settings.py
  geolocationapi/geolocationapi/urls.py
  geolocationapi/utils/__init__.py
  geolocationapi/utils/runners.py
  requirements/dev.txt
Due: migrations-check, mypy-check

refactor: code review
  .env.template
  README.md
  entrypoint/bootstrap.sh
  fixtures/geolocations.geolocation.json
  fixtures/geolocations.geolocationrequest.json
  geolocationapi/geolocation/migrations/0002_alter_geolocation_request.py
  geolocationapi/geolocation/migrations/0003_auto_20211011_1159.py
  geolocationapi/geolocationapi/settings.py
  geolocationapi/geolocationapi/urls.py
  geolocationapi/geolocations/__init__.py
  geolocationapi/geolocations/admin.py
  geolocationapi/geolocations/apps.py
  geolocationapi/geolocations/clients/__init__.py
  geolocationapi/geolocations/clients/ipstack.py
  geolocationapi/geolocations/clients/mocks/__init__.py
  geolocationapi/geolocations/clients/mocks/ipstack.py
  geolocationapi/geolocations/factories.py
  geolocationapi/geolocations/migrations/0001_initial.py
  geolocationapi/geolocations/migrations/0002_alter_geolocation_region_code.py
  geolocationapi/geolocations/migrations/__init__.py
  geolocationapi/geolocations/models.py
  geolocationapi/geolocations/serializers.py
  geolocationapi/geolocations/tests/__init__.py
  geolocationapi/geolocations/tests/test_serializers.py
  geolocationapi/geolocations/tests/test_views.py
  geolocationapi/geolocations/urls.py
  geolocationapi/geolocations/views.py
  requirements/dev.txt
Due: migrations-check, mypy-check

docs: updated docs
  README.md
Due: none

fix: reduced numer of layers
  Dockerfile
Due: none

feat: signup api
  fixtures/auth.user.json
  geolocationapi/geolocationapi/settings.py
  geolocationapi/geolocationapi/urls.py
  geolocationapi/users/__init__.py
  geolocationapi/users/admin.py
  geolocationapi/users/apps.py
  geolocationapi/users/migrations/__init__.py
  geolocationapi/users/models.py
  geolocationapi/users/serializers.py
  geolocationapi/users/tests/__init__.py
  geolocationapi/users/tests/test_serializers.py
  geolocationapi/users/tests/test_views.py
  geolocationapi/users/urls.py
  geolocationapi/users/views.py
Due: migrations-check, mypy-check

feat: added API spec
  Makefile
  README.md
  geolocationapi/geolocationapi/settings.py
  geolocationapi/geolocationapi/urls.py
  geolocationapi/schema.yml
  requirements/dev.txt
Due: mypy-check

fix: added missing description
  geolocationapi/geolocations/views.py
  geolocationapi/schema.yml
  geolocationapi/users/views.py
Due: mypy-check

refactor: removed debug toolbar
  geolocationapi/geolocationapi/settings.py
  geolocationapi/geolocationapi/urls.py
  requirements/dev.txt
Due: mypy-check

fix: added django-heroku
  requirements.txt
Due: none

fix: run migrations
  Procfile
Due: none

refactor: settings cleanup
  .env.template
  .gitignore
  README.md
  geolocationapi/geolocationapi/settings_dev_template.py
Due: mypy-check

fix: fixed DJANGO_DEBUG env
  geolocationapi/geolocationapi/settings.py
Due: mypy-check

Update README.md
  README.md
Due: none
